<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Jira API Automation Demo Suite">
    <test name="Jira Full End to End Tests">
        <classes>
            <class name="com.jira.tests.issue.IssueTests"/>

            <class name="com.testing.base.JiraIssuesTest"/>

            <class name="com.jira.tests.comment.CommentTests"/>

            <class name="com.jira.tests.issue.SubTaskTests"/>
        </classes>
    </test>
</suite>